<head>
  <title> {{ site.title }} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />

<!--
  <meta name="keywords" content="">
  <meta name="description" content="">


  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/slide-projector.css">

  <meta name="theme-color" content="#fafafa">
  <script src="js/jquery-min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>


  <script src="js/slide-projector.js"></script>
</head>
